<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Weather app</title>

    <!-- Bootstrap -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/ng-tags-input/ng-tags-input.css" rel="stylesheet">
     <link href="bower_components/bootstrap/dist/css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">

</head>
<body ng-app="openWeatherApp" ng-controller="openWeatherCtrl">

    <nav class="navbar navbar-full bgr">
        <!-- <div class="inpstyle"> -->
           
                
                
                <tags-input ng-model="location" placeholder="Add a city" class="inp" on-tag-added="onChange()" on-tag-removed="onChange()">

            <!-- <button type="submit" ng-click="getForecastByLocation(location)" class="btn btn-primary">Search</button> -->
           
        <!-- </div> -->
    </nav>

    <div class="container" >
        <div class="card-wrapper">
            <div class="card" ng-show="showData" ng-repeat='x in niz'>
                <span class="first">

                    <h4>{{ x.city.name }}</h4>
                    <p>{{date | date:'MMMM dd'}}th</p>
                </span>
                <span class="second">
                    <h2>{{ Math(x.list[0].temp.day) }}&deg;</h2>
                    <p>{{ x.list[0].weather[0].description }}</p>
                </span>
                <span class="third">
                    <p>Humidity: {{ x.list[0].humidity }}%<br>
                    Wind: {{ x.list[0].speed }}km/h</p>
                </span>
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/ng-tags-input/ng-tags-input.js"></script>
    <script src="bower_components/angular/js/main.js"></script>
    <script src="bower_components/angular/js/controllers.js"></script>
    <script src="bower_components/angular/js/services.js"></script>

</body>
</html>